body{
    background-color: rgb(135, 250, 212);
}
.col{
    background-color: rgb(255, 255, 255);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
p{
margin-top: 100px;
}

h2{
    text-align: center;
}
a{
    color:black
}
a:hover{
    color:white
}
#botoes {
    justify-content:center ;
}